body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f0f4f8;
    color: #102a43;
    text-align: center;
}

.navbar {
    background: #102a43;
    color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span { color: #39ff14; font-weight: bold; }
.status { color: #39ff14; font-size: 0.8rem; border: 1px solid #39ff14; padding: 2px 8px; border-radius: 20px; }

.hero {
    background: #102a43;
    color: white;
    padding: 40px 20px;
    border-bottom: 5px solid #39ff14;
}

.container { padding: 20px; max-width: 500px; margin: auto; }

.waste-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid #d9e2ec;
    transition: 0.3s;
}

.card:hover { border-color: #39ff14; transform: translateY(-3px); }
.icon { font-size: 2rem; }
.card h3 { font-size: 0.9rem; margin-top: 10px; }

.btn {
    display: block;
    width: 100%;
    background: #102a43;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn.secondary { background: #39ff14; color: #102a43; }

footer { margin-top: 40px; font-size: 0.7rem; color: #627d98; padding: 20px; }
